PORT=3000
AWS_REGION=<your_region>
AWS_ACCESS_KEY_ID=<your_AWS_ACCESS_KEY_ID>
AWS_SECRET_KEY_ID=<your_AWS_SECRET_KEY_ID>
AWS_SECRET_ACCESS_KEY=<your_AWS_SECRET_ACCESS_KEY>
AWS_OWNER=<your_AWS_OWNER>
AWS_HOST=<your_AWS_HOST>
NODE_TLS_REJECT_UNAUTHORIZED =false
AWS_SDK_LOAD_CONFIG=1